@import "tailwindcss";

@theme {
  --color-primary: #253B69;
  --color-secondary: #F98411;
  --color-light: #F8FAFC;
  --color-text: #1E293B;
  --color-muted: #64748B;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  padding: 100px 0;
}

button {
  cursor: pointer;
  transition: .3s;
}